<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="content">
        {{>header}}
        <h3>{{description}}</h3>
        </div>
        {{>footer}}

        <script src="/js/main.js"></script>

    </body>
</html>